.homeBackground {
	background-image: url("yourNotLost.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}


body {
	margin: 0;
	padding: 0;
	background-color: black;
}

h1 {
	border-style: double;
	border-width: thin;
	color: darkgoldenrod;
	font-family: "Courier New", serif;
	text-align: center;
}

h2 {
	font-family: "Courier New", serif;
	text-align: center;
	color: darkgoldenrod;
	text-decoration: underline darkgoldenrod;
}

.personaLiBorder {
	position: absolute;
	width: 50%;
	height: 50%;
	left: 25%;
	top: 25%;
}

h3 {
	font-family: "Lucida Console", serif;
	text-align: center;
	color: darkgoldenrod;
}

.conceptModelH3 {
	font-family: "Lucida Console", serif;
	text-align: left;
	color: darkgoldenrod;
	margin-left: 25px;
}

.conceptModelList {
	text-align: left;
}

.conceptModelListItems {
	list-style-type: none;
	font-family: "Courier New", serif;
}

.conceptModelListDiv {
	display: flex;
	flex-direction: column;
}

@media (min-width: 1200px) {
	.conceptModelListDiv {
		display: flex;
		flex-direction: row;
}}


.conceptModelList {
	width: auto;
	height: auto;
	margin-left: 5%;
}

.headingFourInterFlow {
	font-family: "Lucida Console", serif;
	color: darkgoldenrod;
}

.interFlowList {
	list-style-type: square;
	font-family: "Courier New", serif;
}

.addPhotoAndLikeDiv {
	width: 80%;
	height: 200px;
	margin: auto;
	padding: 10px;
}

.interFlowAddPhoto {
	width: auto;
	height: 200px;
	float: left;
	margin-left: 5%;
}

.interFlowLikePhoto {
	margin-left: auto;
	height: 200px;
	float: right;
	margin-right: 5%;
}


a {
	text-decoration: none;
	color: deeppink;
}

a:hover {
	color: aquamarine;
}



.nav ul {
	list-style-type: none;
	text-align: center;
	padding: 0;
	margin-left: auto;
}

.nav li {
	display: inline-block;
	margin: 10px;
	font-family: "Lucida Console", serif;
	line-height: 40px;
	height: 40px;
}

@media screen and (min-width: 100px) {
}

p {
	text-align: center;
	font-family: "Courier New", serif;
}

.personaList {
	list-style-type: none;
	font-family: "Courier New", serif;
	text-align: left;
	margin-left:auto;
}

